body {
	background-color: #DCDCDC;
	font-family: 'Roboto', sans-serif;
 	background-image: url("bg.png");
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: #006400;
}

h3 {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: #97694F;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
        margin-left: auto;
        margin-right: auto;
	width: 1050px;
}

li {
	float: left;
        margin-left: auto;
        margin-right: auto;

}

a.navheader:link, a.navheader:visited {
	display: block;
	width: 167px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	margin-left: auto;
	margin-right: auto;
}

a.navheader:hover, a.navheader:active {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: underline;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        margin-left: auto;
        margin-right: auto;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #FFFFFF;
	height: 329px;
	width: 100%;
        margin-left: auto;
        margin-right: auto;
}

.footer {
	background-color: #FFFFFF;
	height: 40px;
	width: 100%;
	color: #DCDCDC;
	font-weight: bold;
	text-align: center;
        margin-left: auto;
        margin-right: auto;
        clear:both;
        color: #000000;
}

.section1 {
	background-color: #DCDCDC;
	color: #000000;
	overflow:hidden;
}

.section2 {
	background-color: #000000;
	color: #DCDCDC;
	overflow:hidden;
}

.wrap {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.wrapLarge {
    width: 1075px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.wrapMed {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.container {
     float: left;  
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 10px;
}
